In [1]:
library(ggplot2)
library(ggplot2movies)
library(ComplexUpset)

## Prepare the datasets

In [2]:
movies = as.data.frame(ggplot2movies::movies)
head(movies, 3)

  title                  year length budget rating votes r1  r2   r3  r4   ⋯
1 $                      1971 121    NA     6.4    348   4.5  4.5 4.5  4.5 ⋯
2 $1000 a Touchdown      1939  71    NA     6.0     20   0.0 14.5 4.5 24.5 ⋯
3 $21 a Day Once a Month 1941   7    NA     8.2      5   0.0  0.0 0.0  0.0 ⋯
  r9   r10  mpaa Action Animation Comedy Drama Documentary Romance Short
1  4.5  4.5      0      0         1      1     0           0       0
2  4.5 14.5      0      0         1      0     0           0       0
3 24.5 24.5      0      1         0      0     0           0       1

In [3]:
genres = colnames(movies)[18:24]
genres

[1] "Action"      "Animation"   "Comedy"      "Drama"       "Documentary"
[6] "Romance"     "Short"

Convert the genre indicator columns to use boolean values:

In [4]:
movies[genres] = movies[genres] == 1
t(head(movies[genres], 3))

            1     2     3
Action      FALSE FALSE FALSE
Animation   FALSE FALSE  TRUE
Comedy       TRUE  TRUE FALSE
Drama        TRUE FALSE FALSE
Documentary FALSE FALSE FALSE
Romance     FALSE FALSE FALSE
Short       FALSE FALSE  TRUE

To keep the examples fast to compile we will operate on a subset of the movies with complete data:

In [5]:
movies[movies$mpaa == '', 'mpaa'] = NA
movies = na.omit(movies)

Utility for changing output parameters in Jupyter notebooks ([IRKernel kernel](https://github.com/IRkernel/IRkernel)), not relevant if using RStudio or scripting R from terminal:

In [6]:
set_size = function(w, h, factor=1.5) {
    s = 1 * factor
    options(
        repr.plot.width=w * s,
        repr.plot.height=h * s,
        repr.plot.res=100 / factor,
        jupyter.plot_mimetypes='image/png',
        jupyter.plot_scale=1
    )
}